@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
}

.gradient2 {
  background: linear-gradient(41deg, rgba(107,0,230,1) 34%, rgba(255,0,249,1) 93%);
}
  
.gradient3 {
  background: linear-gradient(41deg, rgba(228,233,0,1) 24%, rgba(0,255,72,1) 100%);
}

.gradient4 {
  background: linear-gradient(90deg, rgba(255,166,0,1) 13%, rgba(255,0,0,1) 100%);
}

